{% load static %}
{% load humanize %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
    <div class="offcanvas-header shadow-md">
        <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted fw-bold font-14 ms-1">({{ cart|length }}
            مورد)</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav cart-canvas-parent">
            {% for item in cart %}
                <li class="nav-item">
                <div class="cart-canvas">
                    <div class="row align-items-center">
                        <div class="col-4 ps-0">
                            <img src="{{ item.product.images.first.image.url}}" alt="{{ item.product.name}}">
                        </div>
                        <div class="col-8">
                            <h3 class="text-overflow-2 font-16">{{item.product.name}}
                            </h3>
                            <div class="product-box-suggest-price my-2  d-flex align-items-center justify-content-between">
{#                                <del class="font-16">5,000,000</del>#}
                                <ins class="font-25">{{ item.total_price| intcomma}} <span>تومان</span></ins>
                            </div>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                <div class="cart-canvas-count" >
                                    <span >تعداد:</span>
                                    <span class="fw-bold">{{ item.quantity }}</span>

                                </div>

                                <div class="cart-canvas-delete">
                                    <a href="" class="btn"><i class="bi bi-x"></i></a>
                                </div>
                            </div>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">

                                <div class="cart-canvas-count" >
                                <span  >رنگ:  </span>
                                    <span style="color: {{ item.color }}" class="fw-bold">{{ item.color }}</span>
                                     </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endfor %}


        </ul>

        <div class="cart-canvas-foots bg-white shadow-md">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="cart-canvas-foot-sum">
                        <p class="text-muted mb-2">جمع کل</p>
                        <h5>{{ cart.total_price|intcomma }} تومان</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cart-canvas-foot-link text-end">
                        <a href="" class="btn border-0 main-color-green text-white"><i
                                class="bi bi-arrow-left me-1"></i> تکمیل خرید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>