{% load static %}
<div class="container-fluid">
        <div class="footer-contact">
            <div class="row gy-2">
                <div class="col-4">
                    <div class="footer-contact-image">
                        <a href="">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="text-end">
                        <a href="#" class="go-to-top btn border border-dark" onclick="topFunction()">بازگشت به بالا <i class="bi bi-chevron-up font-14 ms-2"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-contact-call">
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav flex-wrap">
                                <li class="nav-item"><a href="" class="nav-link"><span class="fw-bold">شماره  تماس:</span> 12345678-021</a></li>
                                <li class="nav-item"><a href="" class="nav-link"><span class="fw-bold">ایمیل : </span> site@gmail.com</a></li>
                                <li class="nav-item"><span class="nav-link"> هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-col">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-6 w-100-in-400">
                    <div class="footer-col-item">
                        <nav class="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item"><span class="nav-link font-16 f-800">راهنمای خرید</span></li>
                                <li class="nav-item"><a href="" class="nav-link">نحوه ثبت سفارش</a></li>
                                <li class="nav-item"><a href="" class="nav-link">رویه ارسال سفارش</a></li>
                                <li class="nav-item"><a href="" class="nav-link">شیوه های پرداخت</a></li>
                                <li class="nav-item"><a href="" class="nav-link">رویه های بازگرداندن کالا</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-6 w-100-in-400">
                    <div class="footer-col-item">
                        <nav class="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item"><span class="nav-link font-16 f-800">با بهرخ</span></li>
                                <li class="nav-item"><a href="" class="nav-link">حریم خصوصی</a></li>
                                <li class="nav-item"><a href="" class="nav-link">شرایط استفاده</a></li>
                                <li class="nav-item"><a href="" class="nav-link">رویه های بازگردندان کالا</a></li>
                                <li class="nav-item"><a href="" class="nav-link">پاسخ به پرسش های متداول</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-6 w-100-in-400">
                    <div class="footer-col-item">
                        <nav class="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item"><span class="nav-link font-16 f-800">باشگاه مشتریان</span></li>
                                <li class="nav-item"><a href="" class="nav-link">اتاق خبر</a></li>
                                <li class="nav-item"><a href="" class="nav-link">فروش در بهرخ</a></li>
                                <li class="nav-item"><a href="" class="nav-link">فرصت های شغلی</a></li>
                                <li class="nav-item"><a href="" class="nav-link">تماس با ما</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-6 w-100-in-400">
                    <div class="footer-col-item">
                        <span class="nav-link font-16 f-800 title-col-social">رسانه های خبری ما</span>
                        <div class="social-link">
                            <a href="" class="bi bi-instagram"></a>
                            <a href="" class="bi bi-twitter"></a>
                            <a href="" class="bi bi-whatsapp"></a>
                            <a href="" class="bi bi-youtube"></a>
                            <a href="" class="bi bi-linkedin"></a>
                        </div>
                        <div class="footer-form title-col-social">
                        <h6 class="my-4">در خبرنامه پر تخفیف ما عضو شوید</h6>
                            <form action="">
                                <div class="d-flex">
                                    <input type="email" name="rss" class="form-control text-start" placeholder="آدرس ایمیل خود را وارد کنید">
                                    <button class="btn main-color-one-bg border-0 ms-1" type="submit">ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-app">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h5 class="text-white text-sm-start text-center">دانلود اپلیکیشن بهرخ</h5>
                </div>
                <div class="col-md-8">
                    <nav class="navbar navbar-expand justify-content-sm-end">
                        <ul class="navbar-nav flex-sm-nowrap flex-wrap justify-content-center">
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/app-sibapp.svg" alt=""></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/myket-app.png" alt=""></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/bazar-app.svg" alt=""></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/google-play-app.svg" alt=""></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="footer-description">
            <div class="row align-items-center gy-3">
                <div class="col-lg-8">
                    <h5 class="mb-3">فروشگاه اینترنتی بهرخ ، بررسی انتخاب و خرید آنلاین</h5>
                    <p class="text-muted font-14">یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع، باکیفیت و دارای قیمت مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند و ضمانت بازگشت کالا هم داشته باشد؛ ویژگی‌هایی که فروشگاه اینترنتی دیجی‌کالا سال‌هاست بر روی آن‌ها کار کرده و توانسته از این طریق مشتریان ثابت خود را داشته باشد</p>
                </div>
                <div class="col-lg-4">
                    <nav class="navbar navbar-expand justify-content-lg-end justify-content-center">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/rezi.png" class="img-thumbnail" alt=""></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><img src="assets/img/enamad.png" class="img-thumbnail" alt=""></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="footer-copyright mt-3">
            <div class="row gy-3">
                <div class="col-lg-9">
                    <p class="text-muted font-14"> استفاده از مطالب فروشگاه اینترنتی پارس کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به بهرخ می‌باشد. Copyright © 2006 - 2022 </p>
                </div>
                <div class="col-lg-3">
                    <p class="text-muted font-14 text-end">Copyright © 2022 - 2023 rtl-theme.com</p>
                </div>
            </div>
        </div>
    </div>